---
layout: default
title: Autres sujets - Automobile, Géopolitique, Environnement
---
<h1><a href="#automobie">Automobile</a> - <a href="#geopolitique">Géopolitique</a> - <a href="#environnement">Environnement</a> - <a href="#vegan">Végétarisme et Véganisme</a></h1> 

<div class="posts" id="automobile">
   <h2>Automobile</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "automobile" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="geopolitique">
  <h2>Géopolitique</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "geopolitique" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="environnement">
  <h2>Environnement</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "environnement" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="vegan">
   <h2>Végétarisme et Véganisme</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "vegan" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
