---
layout: default
title: Chronologie
---
<h1><a href="#1900s">1900</a> - <a href="#1910s">1910</a> - <a href="#1920s">1920</a> - <a href="#1930s">1930</a> - <a href="#1940s">1940</a> - <a href="#1950s">1950</a> - <a href="#1960s">1960</a> - <a href="#1970s">1970</a> <a href="#1980s">1980</a> - <a href="#1990s">1990</a> - <a href="#2000s">2000</a> - <a href="#2010s">2010</a> - <a href="#2020s">2020</a> -</h1> 
<div class="posts" id="1900s">
   <h2>1900</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1900s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1910s">
   <h2>1910</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1910s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1920s">
   <h2>1920</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1920s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1930s">
   <h2>1930</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1930s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1940s">
   <h2>1940</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1940s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1950s">
   <h2>1950</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1950s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1960s">
   <h2>1960</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1960s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1970s">
   <h2>1970</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1970s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1980s">
   <h2>1980</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1980s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="1990s">
   <h2>1990</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "1990s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="2000s">
   <h2>2000</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "2000s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="2010s">
   <h2>2010</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "2010s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="2020s">
   <h2>2020</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains "2020s" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>