---
layout: default
title: Culture - Musique, Cinema, BD, Litterature, Tourisme
---

<h1><a href="#musique">Musique</a> - <a href="#cinema">Cinéma</a> - <a href="#serie">Séries</a> - <a href="#bd">BD</a> - <a href="#litterature">Littérature</a> - <a href="#tourisme">Tourisme</a>/h1>  

<div id="musique" class="posts">
   <h2>Musique</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "musique" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="cinema">
  <h2>Cinéma</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "cinema" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="serie">
   <h2>Séries</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "serie" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="bd">
   <h2>BD</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "bd" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="litterature">
   <h2>Littérature</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "litterature" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="tourisme">
   <h2>Tourisme</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "tourisme" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

