---
layout: default
title: Culture - Musique, Cinema
---

<div class="posts">
   <h2>Musique</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "musique" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts">
  <h2>Cinéma</h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "cinema" %}
    <li>
      <span class="date">{{ post.date | date: "%B %e, %Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

