---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="category">
    Categorie : {{page.category}}
  </div>
  
  <div class="tags">
    Tags : {{page.tags}}
  </div>
<p>
  
 <i> <p style="color:#feff02;">You can change the text color of a whole sentence or paragraph...</p>
<p>...or you can change the text color of one <span style="color:#00ff00;">word</span> or even a single l<span style="color:#ff0000;">e</span>tter.</p>
Pour commenter, vous pouvez passer par <a target="_blank" href="https://mastodon.social/@icemanfr75" >mastodon</a> ou vous pouvez aussi envoyer un mail à icemanfr75 (a) hotmail.com</i> 
 
   </p>
  {% include  share.html %}
  {% include disqus.html %}
</article>


