---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">
    {{ content }}
  </div>
  
   <div>
 Ce contenu est paru en premier sur <a target="_blank" href="https://cheziceman.fr" >Cheziceman.fr</a>
  </div>

  <div class="date">
    Ecrit le : {{ page.date | date: "%d/%m/%Y" }}
  </div>
  
  <div class="category"><i>
    Categorie : {{page.category}}</i>
  </div>
  
  <div class="tags"><i>
    Tags : {{page.tags}}</i>
  </div>
<p>
  
 <i> <p style="color:#feff02;">
Commentaires : par <a href="https://sharetomastodon.github.io/?title=au sujet de ton article {{page.title}}, @icemanfr75@mastodon.social, je voulais te dire que" target="_blank"> Mastodon </a> ou <a href="mailto:icemanfr-75@-hotmail.com?subject={{page.title}}&body=Enlève%20les%20tirets%20de%20l%E2%80%99adresse%20mail%20SVP">mail</a>.</i> 
 </p>
 
   </p>
  {% include  share.html %}
</article>


