---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">
    {{ content }}
  </div>
  
   <div>
 Ce contenu est paru en premier sur <a target="_blank" href="https://cheziceman.fr" >Cheziceman.fr</a>
  </div>

  <div class="date">
    Ecrit le : {{ page.date | date: "%d/%m/%Y" }}
  </div>
  
  <div class="category"><i>
    Categorie : {{page.category}}</i>
  </div>
  
  <div class="tags"><i>
    Tags : {{page.tags}}</i>
  </div>
<p>
  
 <i> <p style="color:#feff02;">
Pour commenter, vous pouvez passer par <a href="https://sharetomastodon.github.io/?title={{page.title}}&url={{site.url}}{{page.url}} au sujet de ton article @icemanfr75@mastodon.social, je voulais te dire que" target="_blank">  directement </a> ou pas <a target="_blank" href="https://mastodon.social/@icemanfr75" >mastodon</a> ou vous pouvez aussi envoyer un <a href="mailto:icemanfr75@hotmail.com?subject={{page.title}}&body=je%20voulais%20te%20te%20dire">mail</a> ou encore créer un article de blog avec un lien</i> 
 </p>
 
   </p>
  {% include  share.html %}
</article>


